.Roboto {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(224, 188, 248);
    margin-left: 10%;
    margin-top: 5%;
}

#runtime {
    color: rgb(135, 88, 167)
}

.category_button button {
    background-color: rgb(195, 248, 184);
    ;
}

.category_button button:active {
    background: rgb(106, 187, 90);
}

.category_button button:focus {
    background: rgb(106, 187, 90);
}

#Calc_Button {
    background-color: rgb(195, 248, 184);
}

#Calc_Button button:focus {
    background-color: rgb(68, 136, 54);
}

#results {
    background-color: rgb(233, 206, 252);
    padding: 2%;
    min-width: 80%;
    max-width: max-content;
}